<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="social-media">
                    <h5> Socials </h5>
                    <a href=""> FaceBook </a>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="contact-info">
                    <h5>Contact</h5>
                    <p>123 Yukiko Street<br>City, Country</p>
                    <p><a href="mailto:info@yukiko.example">info@yukiko.example</a></p>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 text-center small">
                © 2025 YukikoCuisine. All Rights Reserved.
            </div>
        </div>
    </div>
</footer>