<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 mt-3">
                <div class="contact-info">
                    <h5> Socials </h5>
                    <a class="mb-1" href="" target="_blank"> FaceBook </a> <br>
                    <a class="mb-1" href="" target="_blank"> Instagram </a> <br>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-3">
                <div class="location">
                    <h5> Location </h5>
                    <p>
                        <a class="map-link"
                            href="https://www.google.com/maps/place/Yukio+-+Teriyaki+%26+Vietnamese+Cuisine/@47.0429899,-122.8449576,15z/data=!4m15!1m8!3m7!1s0x54910b3323501e95:0x90fc1ee2bc325453!2sYukio+-+Teriyaki+%26+Vietnamese+Cuisine!8m2!3d47.0430658!4d-122.8451168!10e9!16s%2Fg%2F1tftf0by!3m5!1s0x54910b3323501e95:0x90fc1ee2bc325453!8m2!3d47.0430658!4d-122.8451168!16s%2Fg%2F1tftf0by?entry=ttu&g_ep=EgoyMDI1MTEyMy4xIKXMDSoASAFQAw%3D%3D"
                            target="_blank" rel="noopener" aria-label="Open 3530 Pacific Ave SE in Google Maps">
                            3530 Pacific Ave SE #F3
                            <br> Olympia, WA 98501, United States
                        </a>
                    </p>
                </div>
                <div class="contact-info">
                    <h5> Contact </h5>
                    <p><a href="tel:+13609230941"> (360) 923-0941 </a></p>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 text-center small">
                © 2025 YukikoCuisine
            </div>
        </div>
    </div>
</footer>