<p-galleria [value]="images" [autoPlay]="true" [circular]="true" [responsiveOptions]="responsiveOptions"
    [numVisible]="5" [containerStyle]="{ 'width': '100%' }" [showThumbnails]="false">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.itemImageSrc" style="width: 100%; max-height: 1200px; object-fit: cover; display: block" />
    </ng-template>
    <ng-template pTemplate="caption" let-item>
        <div class="galleria-caption-center">
            <h3> {{ item.name }} </h3>
            <p> {{ item.sub }} </p> <br>
            <a href="https://www.momo.vn/" target="_blank" class="btn btn-outline-danger active" role="button"
                aria-pressed="true"> ORDER TAKEOUT ON TOAST</a>
        </div>
    </ng-template>
</p-galleria>