:host ::ng-deep .p-galleria-item-wrapper {
    position: relative;
}

:host ::ng-deep .p-galleria-caption {
    position: absolute !important;
    top: 60% !important;
    left: 40% !important;
    transform: translate(-50%, -50%) !important;
    width: auto;
    min-width: 40%;
    min-height: unset;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    padding: 0;
}

@media screen and (max-width: 768px) {
    :host ::ng-deep .p-galleria-caption {
        width: 90% !important;
        left: 35% !important;
        min-width: unset;
    }

    :host ::ng-deep .p-galleria-caption .btn {
        font-size: 13px !important;
        padding: 10px 5px !important;
        white-space: nowrap;
        width: 100%;
    }
}