:host ::ng-deep .p-galleria-item-wrapper {
    position: relative;
}

:host ::ng-deep .p-galleria-caption {
    position: absolute !important;
    top: 70% !important;
    left: 30% !important;
    transform: translate(-50%, -50%) !important;
    width: auto;
    min-width: 40%;
    min-height: unset;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    padding: 0;
}