:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  display: flex;
  align-items: center;
  background-color: white;
  color: white;
  font-weight: 600;
}

.toolbar span {
  margin: 0 16px;
  /* color: #57224f; */
  color: white;
  font-weight: bold;
  font-size: 45px;
  cursor: pointer;
}

.toolbar nav {
  margin-left: auto;
  display: flex;
  gap: 18px;
  align-items: center;
  padding-right: 16px;
}

.toolbar nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 6px 8px;
}

.toolbar nav a:hover {
  opacity: 0.9;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container>*:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  .toolbar span {
    margin: 0 16px;
    color: #57224f;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
  }
}

.brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  /* Ensure it doesn't wrap weirdly unless necessary */
  max-width: 100%;
  /* Prevent overlap with logo on small screens if possible */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .toolbar span {
    font-size: 20px;
  }

  .brand {
    white-space: normal;
    line-height: 1.2;
    text-align: center;
  }

  .toolbar {
    height: 120px;
  }

  img.logo-img {
    height: 120px;
  }
}


.logo-img {
  height: 150px;
  width: auto;
  object-fit: contain;
}