<!-- Banner -->
<div class="toolbar" role="banner">
  <div class="brand ms-2" [routerLink]="['/home']">
    <img src="assets/Logo.png" class="logo-img" alt="Logo">
  </div>
  <!-- <nav aria-label="Main navigation">
  
    <a routerLink="/menu" routerLinkActive="active">Menu</a>

    <div class="dropdown" >
      <a class="btn dropdown-toggle"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        More
      </a>

      <ul class="dropdown-menu bg-light">
        <li><a class="dropdown-item"  routerLink="/about">About Us</a></li>
        <li><a class="dropdown-item" routerLink="/contact">Contact Us</a></li>
      </ul>
    </div>
  </nav> -->

</div>

<router-outlet></router-outlet>

<!-- Footer -->
<app-footer>
</app-footer>