<input type="hidden" #selection>
<!-- <app-image-slider></app-image-slider> -->
<div class="container">
  <div class="page menu-page">
    <h1>Menu</h1>
    <p>Our delicious selections will be listed here.</p>
  </div>

  <div class="row">
    <div class="food-type col-12 col-sm-6 col-md-3 " (click)="selection.value = 'compobnent'" tabindex="0">
      <img class="food-image"
        src="https://images.pexels.com/photos/1199958/pexels-photo-1199958.jpeg?_gl=1*64ib7i*_ga*MTU2MzQ5ODc1My4xNzY1MTI1OTQ5*_ga_8JE65Q40S6*czE3NjUxMjU5NDkkbzEkZzEkdDE3NjUxMjYwNDAkajQ2JGwwJGgw"
        (click)="goToComponent()">
      <h5> Appetizers</h5>
    </div>
    <div class="food-type col-12 col-sm-6 col-md-3 " (click)="selection.value = 'compobnent'" tabindex="0">
      <img class="food-image"
        src="https://images.pexels.com/photos/842571/pexels-photo-842571.jpeg?_gl=1*14pn728*_ga*MTU2MzQ5ODc1My4xNzY1MTI1OTQ5*_ga_8JE65Q40S6*czE3NjUxMjU5NDkkbzEkZzEkdDE3NjUxMjYyNDgkajM4JGwwJGgw"
        (click)="selection.value = 'compobnent'">
      <h5> PHỞ - SOUP NOODLES </h5>
    </div>
    <div class="food-type col-12 col-sm-6 col-md-3 " (click)="selection.value = 'compobnent'" tabindex="0">
      <img class="food-image"
        src="https://images.pexels.com/photos/1633525/pexels-photo-1633525.jpeg?_gl=1*1n2odju*_ga*MTU2MzQ5ODc1My4xNzY1MTI1OTQ5*_ga_8JE65Q40S6*czE3NjUxMjU5NDkkbzEkZzEkdDE3NjUxMjYyODIkajQkbDAkaDA."
        (click)="selection.value = 'compobnent'">
      <h5> VERMICELLI NOODLES </h5>
    </div>
    <div class="food-type col-12 col-sm-6 col-md-3 " (click)="selection.value = 'compobnent'" tabindex="0">
      <img class="food-image"
        src="https://images.pexels.com/photos/1211887/pexels-photo-1211887.jpeg?_gl=1*2ha3a4*_ga*MTU2MzQ5ODc1My4xNzY1MTI1OTQ5*_ga_8JE65Q40S6*czE3NjUxMjU5NDkkbzEkZzEkdDE3NjUxMjYzODEkajYkbDAkaDA."
        (click)="selection.value = 'compobnent'">
      <h5> YAKISOBA NOODLES </h5>
    </div>
  </div>
</div>